{% extends 'home/base.html' %}
{%  load static %}
{% block title %} <title>Logout</title>{% endblock title %}

{% block content %}

    <section class="logout" style="height: 308px">
        <div class="container">
            <h1 style="padding-top: 70px">You have been logged out</h1>
                <div class="border-top pt-3">
                    <small class="text-muted"><a class="ml-2" href="{% url 'login' %}">Log In</a>
                    </small>
                </div>
            </div>
    </section>

{% endblock content%}

