    {%  load static %}
    <!DOCTYPE html>
    <html lang="en">
    {% block head %}
        <head>
            <link rel="stylesheet" href="{% static 'home/css/all.min.css' %}">
            <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
            <link rel = "stylesheet" type="text/css" href="{% static 'home/css/home.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'home/css/custom_home.css' %}">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
            <meta charset="UTF-8">
            {% block title %} <title>V-Track</title>{% endblock title %}
        </head>
    {% endblock head %}

    {% block nav %}
    <body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-nav fixed-top">
            <div class = "logo" style="width: 200px">
                <a href="{% url 'home' %}"><img src="{% static 'home/V-Track.png' %}" style="width:auto; height:50px;" alt="V_Track"/></a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" href="{% url 'howitworks' %}">How It Works</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Features
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'map' %}">Locate my Vehicle</a>
                            <a class="dropdown-item" href="#">Add Secure Zone</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="{% url 'missingreport' %}">
                            <small>The</small>
                            <em>missing</em>
                            <span>Report</span>
                        </a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">

                    {% if user.is_authenticated  %}
                        <a href="{% url 'profile' %}" class="img">
                           <div class="profilepic">
                                <img class="rounded-circle account-img" src="{{ user.profile.image.url }}"/>
                           </div>
                        </a>
                        <a class="btn" type="button" href="{% url 'profile' %}">{{user.username}}</a>
                        <a class="btn btn-logout btn-custom-logout" type="button" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a class="btn btn-register" type="button" href="{% url 'register' %}">Register</a>
                        <a class="btn btn-login" type="button" href="{% url 'login' %}">Login</a>
                    {% endif %}
                </form>

            </div>
        </nav>
    </header>
    {% endblock nav %}


    <div class="content">
      {% block content %}
          if you see this, something is wrong!
      {% endblock content %}
    </div>


    {% block footer %}
    <!-- Footer -->
    <footer class="page-footer font-small mdb-color pt-4">

      <!-- Footer Links -->
      <div class="container text-center text-md-left">

        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">

          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <a href="{% url 'home' %}"><img src="{% static 'home/V-Track.png' %}" style="width:auto; height:50px; padding-bottom: 10px" alt="V_Track"/></a>
            <p>
              <i class="fas fa-home mr-3"></i> Khokana, Lalitpur, Nepal</p>
            <p>
              <i class="fas fa-envelope mr-3"></i> vtrack@gmail.com</p>
            <p>
              <i class="fas fa-phone mr-3"></i> + 977 9860708158</p>
            <p>
              <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none">

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">About VTrack</h6>
            <p>
              <a href="{% url 'howitworks' %}">How it works</a>
            </p>
            <p>
              <a href="#!">Features</a>
            </p>
            <p>
              <a href="#!">Pricing</a>
            </p>
            <p>
              <a href="#!">What's New</a>
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none">

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
            <p>
              <a href="{% url 'profile' %}">Your Account</a>
            </p>
            <p>
              <a href="#!">Become an Affiliate</a>
            </p>
            <p>
              <a href="#!">Vehicles Found</a>
            </p>
            <p>
              <a href="#!">Help</a>
            </p>
          </div>

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none">

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6>LEGAL</h6>
              <p>Terms and Conditions</p>
              <p>Privacy</p>
              <p>Cookies</p>
              <p>GDPR</p>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Footer links -->

        <hr>

        <!-- Grid row -->
        <div class="row d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-md-7 col-lg-8">

            <!--Copyright-->
            <p class="text-center text-md-left">© 2020 Copyright: <strong> Team CT-755</strong></p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-5 col-lg-4 ml-lg-0">

            <!-- Social buttons -->
            <div class="text-center text-md-right">
              <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                  <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.facebook.com/prasanna.dangol17509" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.instagram.com/prasannadangol" target="_blank">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.facebook.com/prasanna.dangol17509" target="_blank">
                    <i class="fab fa-google-plus-g"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.linkedin.com/in/prasanna-dangol-7abaa1178/" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
              </ul>
            </div>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->

    </footer>
    <!-- Footer -->
    {% endblock footer %}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Missing Report</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action ="route" method="POST">
                {% csrf_token %}
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Your Email:</label>
                <input type="email" name="emailModal" class="form-control" id="recipient-name">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Message:</label>
                <textarea class="form-control" name="mes" id="message-text"></textarea>
              </div>
                <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Send message</button>
          </div>
            </form>
          </div>

        </div>
      </div>
    </div>
    </body>
    </html>
